In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from imdb import IMDb

In [7]:
m_df = pd.read_csv('../data/reviews_sample.csv')
movies = m_df[['id','name']]
movies
# m_df

               id           name
0       tt6155172           Roma
1       tt6155172           Roma
2       tt6155172           Roma
3       tt6155172           Roma
4       tt6155172           Roma
...           ...            ...
56848  tt14850172  Asking for It
56849  tt14850172  Asking for It
56850  tt14850172  Asking for It
56851  tt14850172  Asking for It
56852  tt14850172  Asking for It

[56853 rows x 2 columns]

In [9]:
df = movies.drop_duplicates(subset=['id'])
df

               id                 name
0       tt6155172                 Roma
25      tt0454776        Amazing Grace
50      tt8075192          Shoplifters
75      tt6908854  Shoah: Four Sisters
77      tt4515928              Gavagai
...           ...                  ...
56750  tt10308878       Big Gold Brick
56775  tt13648232    Mother Schmuckers
56780  tt14060094           Blacklight
56805  tt14309446              Me Time
56830  tt14850172        Asking for It

[2680 rows x 2 columns]

In [10]:
df.to_csv('id.csv', index=False)

In [15]:
def get_rating(movie_id):
    """Scrapes the rating for a single movie ID"""
    url = f"https://www.imdb.com/title/{movie_id}/"
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html.parser")
    print(soup)
    rating = soup.find("span", {"itemprop": "ratingValue"})
    print(rating)
    if rating:
        return float(rating.text.strip())
    else:
        return None

def get_ratings(movie_ids):
    """Scrapes the ratings for a list of movie IDs"""
    ratings = []
    for movie_id in movie_ids:
        rating = get_rating(movie_id)
        ratings.append({"movie_id": movie_id, "rating": rating})
    return pd.DataFrame(ratings)

# Example usage:
movie_ids = df['id'][:5]
ratings_df = get_ratings(movie_ids)
ratings_df

<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

None
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

None
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

None
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

None
<html>
<head><title>403 Forbidden</title></head>
<body>
<center><h1>403 Forbidden</h1></center>
</body>
</html>

None

Empty DataFrame
Columns: [movie_id, ratings]
Index: []

In [18]:
df['id_nott'] = df['id'].str.replace('tt', '')

/var/folders/2k/8vw2g4wn1y31j9j9fsblqg0r0000gn/T/ipykernel_4964/872767338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id_nott'] = df['id'].str.replace('tt', '')

In [19]:
df

               id                 name   id_nott
0       tt6155172                 Roma   6155172
25      tt0454776        Amazing Grace   0454776
50      tt8075192          Shoplifters   8075192
75      tt6908854  Shoah: Four Sisters   6908854
77      tt4515928              Gavagai   4515928
...           ...                  ...       ...
56750  tt10308878       Big Gold Brick  10308878
56775  tt13648232    Mother Schmuckers  13648232
56780  tt14060094           Blacklight  14060094
56805  tt14309446              Me Time  14309446
56830  tt14850172        Asking for It  14850172

[2680 rows x 3 columns]

In [21]:
from imdb import IMDb

# create an instance of the IMDb class
imdb = IMDb()

# loop through the movie names and get the movie IDs
movies = []
for movie_id in df['id_nott']:
    movie = imdb.get_movie(movie_id)
    rating = movie.get('rating')
    movies.append({"id": movie_id, "rating": rating})

movies

[{'id': '6155172', 'rating': 7.7},
 {'id': '0454776', 'rating': 7.4},
 {'id': '8075192', 'rating': 7.9},
 {'id': '6908854', 'rating': 8.2},
 {'id': '4515928', 'rating': 6.6},
 {'id': '6887540', 'rating': 6.7},
 {'id': '6884380', 'rating': 6.9},
 {'id': '7905466', 'rating': 8.2},
 {'id': '5083738', 'rating': 7.5},
 {'id': '6217608', 'rating': 7.4},
 {'id': '7282468', 'rating': 7.5},
 {'id': '6543652', 'rating': 7.5},
 {'id': '5834204', 'rating': 8.4},
 {'id': '7476236', 'rating': 8.0},
 {'id': '7014006', 'rating': 7.4},
 {'id': '2188717', 'rating': 4.5},
 {'id': '3409848', 'rating': 6.7},
 {'id': '0096056', 'rating': 5.6},
 {'id': '4468740', 'rating': 7.8},
 {'id': '4686844', 'rating': 7.2},
 {'id': '1517451', 'rating': 7.6},
 {'id': '6958212', 'rating': 6.9},
 {'id': '3892172', 'rating': 7.1},
 {'id': '7472352', 'rating': 7.4},
 {'id': '9114286', 'rating': 6.7},
 {'id': '7689958', 'rating': 7.9},
 {'id': '4595882', 'rating': 7.1},
 {'id': '6144092', 'rating': 7.1},
 {'id': '7125860', 'rating': 7.1},
 {'id': '7784604', 'rating': 7.3},
 {'id': '6752992', 'rating': 7.5},
 {'id': '4633694', 'rating': 8.4},
 {'id': '7520286', 'rating': 6.8},
 {'id': '4912910', 'rating': 7.7},
 {'id': '4958448', 'rating': 6.8},
 {'id': '7363336', 'rating': 7.3},
 {'id': '6053438', 'rating': 7.1},
 {'id': '6634646', 'rating': 6.4},
 {'id': '6859352', 'rating': 6.4},
 {'id': '7681902', 'rating': 8.3},
 {'id': '6510332', 'rating': 7.7},
 {'id': '5742374', 'rating': 6.7},
 {'id': '4218572', 'rating': 6.8},
 {'id': '10692788', 'rating': 7.3},
 {'id': '7689484', 'rating': 7.3},
 {'id': '1213641', 'rating': 7.3},
 {'id': '4575930', 'rating': 6.5},
 {'id': '9421570', 'rating': 6.3},
 {'id': '6680312', 'rating': 6.5},
 {'id': '5536610', 'rating': 7.2},
 {'id': '7349662', 'rating': 7.5},
 {'id': '7775622', 'rating': 8.1},
 {'id': '7681824', 'rating': 6.9},
 {'id': '5891122', 'rating': 6.6},
 {'id': '6998518', 'rating': 6.5},
 {'id': '6644200', 'rating': 7.5},
 {'id': '8055880', 'rating': 7.5},
 {'id': '6400280', 'rating': 7.3},
 {'id': '5104604', 'rating': 7.8},
 {'id': '0388795', 'rating': 7.7},
 {'id': '7966920', 'rating': 6.6},
 {'id': '5580266', 'rating': 7.5},
 {'id': '1016150', 'rating': 7.8},
 {'id': '7664504', 'rating': 7.6},
 {'id': '1837642', 'rating': 7.8},
 {'id': '5897636', 'rating': 7.1},
 {'id': '2015381', 'rating': 8.0},
 {'id': '6900448', 'rating': 7.0},
 {'id': '5688932', 'rating': 6.9},
 {'id': '3606756', 'rating': 7.6},
 {'id': '7983678', 'rating': 7.6},
 {'id': '5340300', 'rating': 7.2},
 {'id': '5989220', 'rating': 6.5},
 {'id': '3986820', 'rating': 6.5},
 {'id': '6977442', 'rating': 7.4},
 {'id': '2837574', 'rating': 6.7},
 {'id': '7010412', 'rating': 7.5},
 {'id': '5929754', 'rating': 6.8},
 {'id': '6213284', 'rating': 6.9},
 {'id': '8784956', 'rating': 5.4},
 {'id': '2798920', 'rating': 6.8},
 {'id': '14542254', 'rating': 6.9},
 {'id': '7153434', 'rating': 7.5},
 {'id': '7184124', 'rating': 6.7},
 {'id': '6412452', 'rating': 7.3},
 {'id': '7738450', 'rating': 7.0},
 {'id': '7205208', 'rating': 7.1},
 {'id': '6101602', 'rating': 6.4},
 {'id': '6736812', 'rating': 7.0},
 {'id': '0089374', 'rating': 7.5},
 {'id': '0069049', 'rating': 6.7},
 {'id': '8851148', 'rating': 5.9},
 {'id': '6029778', 'rating': 7.6},
 {'id': '6578572', 'rating': 7.6},
 {'id': '4971344', 'rating': 6.9},
 {'id': '6370614', 'rating': 6.7},
 {'id': '4911996', 'rating': 6.5},
 {'id': '6566624', 'rating': 6.8},
 {'id': '11097374', 'rating': 6.6},
 {'id': '6893836', 'rating': 7.4},
 {'id': '5607714', 'rating': 7.5},
 {'id': '6777170', 'rating': 6.8},
 {'id': '5926990', 'rating': 6.1},
 {'id': '8749146', 'rating': 7.0},
 {'id': '7478112', 'rating': 6.8},
 {'id': '5923026', 'rating': 6.9},
 {'id': '1442462', 'rating': 8.4},
 {'id': '6263828', 'rating': 7.0},
 {'id': '4080956', 'rating': 6.8},
 {'id': '7260048', 'rating': 6.7},
 {'id': '7475540', 'rating': 7.2},
 {'id': '6218358', 'rating': 6.8},
 {'id': '7473036', 'rating': 5.4},
 {'id': '7768846', 'rating': 6.0},
 {'id': '6938828', 'rating': 6.9},
 {'id': '7977594', 'rating': 7.4},
 {'id': '5501104', 'rating': 7.0},
 {'id': '6952960', 'rating': 6.7},
 {'id': '5883570', 'rating': 7.1},
 {'id': '11018264', 'rating': 6.0},
 {'id': '2095768', 'rating': 7.6},
 {'id': '8267604', 'rating': 8.4},
 {'id': '3385524', 'rating': 7.2},
 {'id': '6223806', 'rating': 6.8},
 {'id': '8520614', 'rating': 7.7},
 {'id': '8923396', 'rating': 3.5},
 {'id': '5610554', 'rating': 6.9},
 {'id': '7186092', 'rating': 6.7},
 {'id': '0057115', 'rating': 8.2},
 {'id': '2368254', 'rating': 6.7},
 {'id': '7999962', 'rating': 6.5},
 {'id': '12193804', 'rating': 6.6},
 {'id': '5649108', 'rating': 6.6},
 {'id': '6903636', 'rating': 6.2},
 {'id': '4547194', 'rating': 6.1},
 {'id': '5922124', 'rating': 6.2},
 {'id': '6336356', 'rating': 6.8},
 {'id': '4830786', 'rating': 7.3},
 {'id': '8106576', 'rating': 7.6},
 {'id': '0093886', 'rating': 6.6},
 {'id': '5437928', 'rating': 6.7},
 {'id': '0939684', 'rating': 4.3},
 {'id': '6108178', 'rating': 6.6},
 {'id': '6190348', 'rating': 6.5},
 {'id': '5424228', 'rating': 7.4},
 {'id': '7689966', 'rating': 7.9},
 {'id': '6079976', 'rating': 7.2},
 {'id': '3104988', 'rating': 6.9},
 {'id': '13223398', 'rating': 5.6},
 {'id': '5584796', 'rating': 7.1},
 {'id': '20413650', 'rating': 4.7},
 {'id': '4967220', 'rating': 6.5},
 {'id': '6851066', 'rating': 7.4},
 {'id': '15318872', 'rating': 7.2},
 {'id': '5180888', 'rating': 5.7},
 {'id': '0451192', 'rating': 8.3},
 {'id': '2396489', 'rating': 6.1},
 {'id': '8014482', 'rating': 7.2},
 {'id': '8904630', 'rating': 7.8},
 {'id': '3780500', 'rating': 6.7},
 {'id': '5480782', 'rating': 6.7},
 {'id': '7545566', 'rating': 6.8},
 {'id': '7048622', 'rating': 7.6},
 {'id': '5198670', 'rating': 5.5},
 {'id': '5164432', 'rating': 7.5},
 {'id': '0256380', 'rating': 6.0},
 {'id': '1920885', 'rating': 7.0},
 {'id': '7220754', 'rating': 7.0},
 {'id': '8201142', 'rating': 6.7},
 {'id': '5654600', 'rating': 6.4},
 {'id': '7210348', 'rating': 6.6},
 {'id': '0319262', 'rating': 6.4},
 {'id': '8236398', 'rating': 6.9},
 {'id': '6532954', 'rating': 7.3},
 {'id': '6729000', 'rating': 5.5},
 {'id': '7364566', 'rating': 7.2},
 {'id': '7668870', 'rating': 7.6},
 {'id': '5848272', 'rating': 7.0},
 {'id': '15301048', 'rating': 7.6},
 {'id': '6471628', 'rating': 7.1},
 {'id': '6485928', 'rating': 6.2},
 {'id': '5687814', 'rating': 5.7},
 {'id': '1025100', 'rating': 5.7},
 {'id': '6436888', 'rating': 6.0},
 {'id': '6210160', 'rating': 6.7},
 {'id': '6433456', 'rating': 7.1},
 {'id': '6207878', 'rating': 7.2},
 {'id': '7689964', 'rating': 7.6},
 {'id': '6505968', 'rating': 6.7},
 {'id': '1893269', 'rating': 7.3},
 {'id': '6805366', 'rating': 7.6},
 {'id': '1553659', 'rating': 6.7},
 {'id': '8361028', 'rating': 5.9},
 {'id': '8758548', 'rating': 7.5},
 {'id': '5492260', 'rating': 6.2},
 {'id': '4494718', 'rating': 6.3},
 {'id': '6802896', 'rating': 6.9},
 {'id': '10954600', 'rating': 6.4},
 {'id': '8093700', 'rating': 6.8},
 {'id': '6848736', 'rating': 7.7},
 {'id': '3300980', 'rating': 7.3},
 {'id': '6523720', 'rating': 6.2},
 {'id': '5773986', 'rating': 7.0},
 {'id': '0347618', 'rating': 7.1},
 {'id': '3041550', 'rating': 7.5},
 {'id': '7542576', 'rating': 6.2},
 {'id': '6367558', 'rating': 6.2},
 {'id': '3147692', 'rating': 6.2},
 {'id': '5708028', 'rating': 6.5},
 {'id': '5204020', 'rating': 7.1},
 {'id': '5375434', 'rating': 6.5},
 {'id': '5189828', 'rating': 4.7},
 {'id': '2180351', 'rating': 7.4},
 {'id': '6257174', 'rating': 6.6},
 {'id': '2531344', 'rating': 6.2},
 {'id': '6966692', 'rating': 8.2},
 {'id': '7008872', 'rating': 6.9},
 {'id': '4669264', 'rating': 6.5},
 {'id': '6343058', 'rating': 6.8},
 {'id': '5700176', 'rating': 5.8},
 {'id': '6805354', 'rating': 7.0},
 {'id': '6662736', 'rating': 6.7},
 {'id': '5642124', 'rating': 6.7},
 {'id': '7689926', 'rating': 6.9},
 {'id': '7424200', 'rating': 6.7},
 {'id': '0361596', 'rating': 7.5},
 {'id': '7280898', 'rating': 6.8},
 {'id': '6186232', 'rating': 7.4},
 {'id': '5938084', 'rating': 5.7},
 {'id': '6061074', 'rating': 6.4},
 {'id': '7763020', 'rating': 6.4},
 {'id': '5618256', 'rating': 8.1},
 {'id': '7946422', 'rating': 6.3},
 {'id': '4701724', 'rating': 6.1},
 {'id': '6212478', 'rating': 7.0},
 {'id': '6410564', 'rating': 6.7},
 {'id': '4154756', 'rating': 8.4},
 {'id': '6147512', 'rating': 6.5},
 {'id': '8135494', 'rating': 7.7},
 {'id': '6219314', 'rating': 6.1},
 {'id': '7689906', 'rating': 6.1},
 {'id': '5516328', 'rating': 6.4},
 {'id': '5751998', 'rating': 6.6},
 {'id': '4673790', 'rating': 6.3},
 {'id': '7457716', 'rating': 7.0},
 {'id': '0458339', 'rating': 6.9},
 {'id': '5960374', 'rating': 5.8},
 {'id': '7215388', 'rating': 7.2},
 {'id': '0077651', 'rating': 7.7},
 {'id': '0140379', 'rating': 6.4},
 {'id': '6859762', 'rating': 5.5},
 {'id': '5981304', 'rating': 6.3},
 {'id': '5607096', 'rating': 6.6},
 {'id': '5270948', 'rating': 6.4},
 {'id': '2773246', 'rating': 6.7},
 {'id': '6499752', 'rating': 7.5},
 {'id': '6288124', 'rating': 6.8},
 {'id': '7218804', 'rating': 6.8},
 {'id': '10313176', 'rating': 6.6},
 {'id': '7215444', 'rating': 6.6},
 {'id': '6333084', 'rating': 6.8},
 {'id': '7040874', 'rating': 6.8},
 {'id': '7073710', 'rating': 5.7},
 {'id': '7562932', 'rating': 4.1},
 {'id': '11145118', 'rating': 7.3},
 {'id': '7545524', 'rating': 6.7},
 {'id': '4701182', 'rating': 6.7},
 {'id': '2704998', 'rating': 6.9},
 {'id': '1872194', 'rating': 7.4},
 {'id': '6296764', 'rating': 6.8},
 {'id': '6235786', 'rating': 6.4},
 {'id': '5613484', 'rating': 7.3},
 {'id': '0478976', 'rating': 4.1},
 {'id': '7012864', 'rating': 6.2},
 {'id': '6794466', 'rating': 7.2},
 {'id': '5463162', 'rating': 7.7},
 {'id': '6933454', 'rating': 6.7},
 {'id': '5028340', 'rating': 6.7},
 {'id': '6142496', 'rating': 5.9},
 {'id': '5687040', 'rating': 5.5},
 {'id': '6335734', 'rating': 7.5},
 {'id': '21374850', 'rating': 7.6},
 {'id': '7158430', 'rating': 6.9},
 {'id': '5609734', 'rating': 6.5},
 {'id': '5539052', 'rating': 6.0},
 {'id': '1289403', 'rating': 7.3},
 {'id': '2877296', 'rating': 7.0},
 {'id': '1690967', 'rating': 6.0},
 {'id': '3860916', 'rating': 6.3},
 {'id': '3208026', 'rating': 6.8},
 {'id': '6842126', 'rating': 5.0},
 {'id': '3846674', 'rating': 7.0},
 {'id': '1433822', 'rating': 4.1},
 {'id': '4378628', 'rating': 6.2},
 {'id': '1034415', 'rating': 6.7},
 {'id': '5999530', 'rating': 6.2},
 {'id': '5644050', 'rating': 7.6},
 {'id': '2404639', 'rating': 6.2},
 {'id': '6150942', 'rating': 6.3},
 {'id': '1677720', 'rating': 7.4},
 {'id': '6848624', 'rating': 6.8},
 {'id': '4712076', 'rating': 6.1},
 {'id': '6433880', 'rating': 6.0},
 {'id': '5057140', 'rating': 5.6},
 {'id': '6915100', 'rating': 6.5},
 {'id': '8066972', 'rating': 6.9},
 {'id': '5323760', 'rating': 6.4},
 {'id': '0493093', 'rating': 5.2},
 {'id': '5727282', 'rating': 6.9},
 {'id': '7153766', 'rating': 6.4},
 {'id': '5737582', 'rating': 5.4},
 {'id': '5275884', 'rating': 7.0},
 {'id': '5991974', 'rating': 7.1},
 {'id': '4244998', 'rating': 6.6},
 {'id': '7689956', 'rating': 6.6},
 {'id': '1699518', 'rating': 6.6},
 {'id': '3778644', 'rating': 6.9},
 {'id': '4998222', 'rating': 6.4},
 {'id': '5304992', 'rating': 6.5},
 {'id': '1226837', 'rating': 7.3},
 {'id': '4992060', 'rating': 3.8},
 {'id': '7057306', 'rating': 6.4},
 {'id': '6040662', 'rating': 6.7},
 {'id': '6152554', 'rating': 7.3},
 {'id': '5390066', 'rating': 5.3},
 {'id': '3127022', 'rating': 6.5},
 {'id': '5688996', 'rating': 6.3},
 {'id': '5827212', 'rating': 6.2},
 {'id': '0118363', 'rating': 8.1},
 {'id': '6452332', 'rating': 6.8},
 {'id': '5460880', 'rating': 6.4},
 {'id': '7137380', 'rating': 6.2},
 {'id': '1667321', 'rating': 6.3},
 {'id': '7690016', 'rating': 6.0},
 {'id': '6217306', 'rating': 6.3},
 {'id': '5039578', 'rating': 5.6},
 {'id': '5001754', 'rating': 5.9},
 {'id': '6266538', 'rating': 7.2},
 {'id': '5164214', 'rating': 6.3},
 {'id': '7204348', 'rating': 6.9},
 {'id': '7225942', 'rating': 5.6},
 {'id': '7074886', 'rating': 6.1},
 {'id': '4411234', 'rating': 4.6},
 {'id': '5052474', 'rating': 7.1},
 {'id': '0348913', 'rating': 8.1},
 {'id': '0074042', 'rating': 7.2},
 {'id': '2328900', 'rating': 6.3},
 {'id': '4530422', 'rating': 6.6},
 {'id': '3319730', 'rating': 6.0},
 {'id': '3120280', 'rating': 5.8},
 {'id': '4575576', 'rating': 7.2},
 {'id': '8106160', 'rating': 6.2},
 {'id': '6628394', 'rating': 7.1},
 {'id': '6340264', 'rating': 5.9},
 {'id': '1727770', 'rating': 6.0},
 {'id': '5338644', 'rating': 5.1},
 {'id': '6182908', 'rating': 6.6},
 {'id': '6911608', 'rating': 6.6},
 {'id': '4537896', 'rating': 6.5},
 {'id': '5462326', 'rating': 5.5},
 {'id': '6269368', 'rating': 6.5},
 {'id': '6679794', 'rating': 6.9},
 {'id': '9206798', 'rating': 6.3},
 {'id': '5096846', 'rating': 5.7},
 {'id': '8106570', 'rating': 6.3},
 {'id': '5160938', 'rating': 5.9},
 {'id': '4669788', 'rating': 7.1},
 {'id': '5164184', 'rating': 5.7},
 {'id': '0488905', 'rating': 7.5},
 {'id': '5247704', 'rating': 6.8},
 {'id': '6340090', 'rating': 6.7},
 {'id': '5085924', 'rating': 5.5},
 {'id': '6884200', 'rating': 5.5},
 {'id': '5208252', 'rating': 6.6},
 {'id': '0947798', 'rating': 8.0},
 {'id': '6958014', 'rating': 5.3},
 {'id': '5910344', 'rating': 6.1},
 {'id': '7959026', 'rating': 7.0},
 {'id': '7174764', 'rating': 6.4},
 {'id': '5314190', 'rating': 6.9},
 {'id': '6764122', 'rating': 7.0},
 {'id': '4682136', 'rating': 5.7},
 {'id': '5834262', 'rating': 6.1},
 {'id': '5774450', 'rating': 6.7},
 {'id': '3463106', 'rating': 5.6},
 {'id': '1880399', 'rating': 6.8},
 {'id': '7334528', 'rating': 5.7},
 {'id': '4654016', 'rating': 5.2},
 {'id': '7401588', 'rating': 7.3},
 {'id': '2119543', 'rating': 6.0},
 {'id': '6388074', 'rating': 5.7},
 {'id': '6313378', 'rating': 6.3},
 {'id': '13141250', 'rating': 4.0},
 {'id': '2315596', 'rating': 6.2},
 {'id': '6014904', 'rating': 5.1},
 {'id': '1590193', 'rating': 6.3},
 {'id': '3745058', 'rating': 5.6},
 {'id': '6306064', 'rating': 6.6},
 {'id': '2372251', 'rating': 5.0},
 {'id': '2854926', 'rating': 6.5},
 {'id': '8033592', 'rating': 7.4},
 {'id': '6803974', 'rating': 6.7},
 {'id': '3685236', 'rating': 5.2},
 {'id': '6205872', 'rating': 6.0},
 {'id': '5518756', 'rating': 5.0},
 {'id': '3739110', 'rating': 5.7},
 {'id': '5091612', 'rating': 7.3},
 {'id': '1477834', 'rating': 6.8},
 {'id': '3863632', 'rating': 6.5},
 {'id': '5566790', 'rating': 6.7},
 {'id': '5687334', 'rating': 6.6},
 {'id': '7456534', 'rating': 5.8},
 {'id': '6518270', 'rating': 5.8},
 {'id': '6330052', 'rating': 5.9},
 {'id': '1413492', 'rating': 6.5},
 {'id': '6133466', 'rating': 5.2},
 {'id': '7510166', 'rating': 5.6},
 {'id': '5089534', 'rating': 6.5},
 {'id': '6852872', 'rating': 5.8},
 {'id': '5397194', 'rating': 6.1},
 {'id': '6215208', 'rating': 5.1},
 {'id': '4607722', 'rating': 5.8},
 {'id': '5220122', 'rating': 6.3},
 {'id': '1620680', 'rating': 4.2},
 {'id': '6857166', 'rating': 6.1},
 {'id': '4878482', 'rating': 6.5},
 {'id': '5325030', 'rating': 4.2},
 {'id': '7131622', 'rating': 7.6},
 {'id': '5268348', 'rating': 6.7},
 {'id': '4761916', 'rating': 6.0},
 {'id': '1799516', 'rating': 6.3},
 {'id': '5658242', 'rating': 6.1},
 {'id': '5664636', 'rating': 5.6},
 {'id': '4538916', 'rating': 6.7},
 {'id': '5254610', 'rating': 5.8},
 {'id': '2873282', 'rating': 6.6},
 {'id': '2670882', 'rating': 6.4},
 {'id': '5625066', 'rating': 5.4},
 {'id': '8420442', 'rating': 5.6},
 {'id': '7170950', 'rating': 6.1},
 {'id': '5685006', 'rating': 5.4},
 {'id': '4399952', 'rating': 5.1},
 {'id': '7690670', 'rating': 5.2},
 {'id': '1785288', 'rating': 5.6},
 {'id': '4123430', 'rating': 6.5},
 {'id': '2990140', 'rating': 7.0},
 {'id': '6663582', 'rating': 6.0},
 {'id': '7026672', 'rating': 6.4},
 {'id': '7388562', 'rating': 6.6},
 {'id': '5436228', 'rating': 6.6},
 {'id': '4881806', 'rating': 6.1},
 {'id': '2737304', 'rating': 6.6},
 {'id': '5758778', 'rating': 5.8},
 {'id': '6676028', 'rating': 5.5},
 {'id': '6371588', 'rating': 6.1},
 {'id': '2709692', 'rating': 6.4},
 {'id': '5117670', 'rating': 6.6},
 {'id': '5198796', 'rating': 5.6},
 {'id': '6169694', 'rating': 5.7},
 {'id': '0070511', 'rating': 8.0},
 {'id': '4500922', 'rating': 6.2},
 {'id': '0075421', 'rating': 8.2},
 {'id': '6046314', 'rating': 5.4},
 {'id': '3766354', 'rating': 6.7},
 {'id': '3859310', 'rating': 5.7},
 {'id': '2586120', 'rating': 6.3},
 {'id': '4266076', 'rating': 6.0},
 {'id': '5686062', 'rating': 5.5},
 {'id': '4738776', 'rating': 4.7},
 {'id': '4762824', 'rating': 5.5},
 {'id': '4151320', 'rating': 6.4},
 {'id': '1492705', 'rating': 5.2},
 {'id': '4652650', 'rating': 6.7},
 {'id': '1259528', 'rating': 7.0},
 {'id': '1727824', 'rating': 7.9},
 {'id': '3906082', 'rating': 6.4},
 {'id': '14084828', 'rating': 4.2},
 {'id': '5613402', 'rating': 6.0},
 {'id': '4602066', 'rating': 6.2},
 {'id': '5726086', 'rating': 5.7},
 {'id': '4991112', 'rating': 4.2},
 {'id': '5466186', 'rating': 5.9},
 {'id': '6473982', 'rating': 6.0},
 {'id': '3829266', 'rating': 5.3},
 {'id': '5153288', 'rating': 6.3},
 {'id': '1365519', 'rating': 6.3},
 {'id': '6791096', 'rating': 5.6},
 {'id': '1285009', 'rating': 5.2},
 {'id': '7365604', 'rating': 6.2},
 {'id': '5540992', 'rating': 6.4},
 {'id': '0086022', 'rating': 8.0},
 {'id': '3721964', 'rating': 6.1},
 {'id': '5814060', 'rating': 5.3},
 {'id': '4779682', 'rating': 5.6},
 {'id': '2126357', 'rating': 5.8},
 {'id': '6987770', 'rating': 6.0},
 {'id': '5619332', 'rating': 5.6},
 {'id': '6883152', 'rating': 4.6},
 {'id': '6803212', 'rating': 6.3},
 {'id': '5923012', 'rating': 6.8},
 {'id': '3741632', 'rating': 6.7},
 {'id': '6802308', 'rating': 5.3},
 {'id': '2231461', 'rating': 6.1},
 {'id': '5427194', 'rating': 6.5},
 {'id': '5779540', 'rating': 5.0},
 {'id': '2557478', 'rating': 5.6},
 {'id': '6532374', 'rating': 6.4},
 {'id': '5616294', 'rating': 5.6},
 {'id': '1571234', 'rating': 6.1},
 {'id': '1235187', 'rating': 6.5},
 {'id': '3416536', 'rating': 6.3},
 {'id': '1846589', 'rating': 6.6},
 {'id': '5177088', 'rating': 6.1},
 {'id': '6781982', 'rating': 5.6},
 {'id': '5813366', 'rating': 5.1},
 {'id': '6280608', 'rating': 5.2},
 {'id': '4682788', 'rating': 6.3},
 {'id': '0093693', 'rating': 6.9},
 {'id': '3203528', 'rating': 6.4},
 {'id': '7137846', 'rating': 5.5},
 {'id': '4003440', 'rating': 6.8},
 {'id': '0972544', 'rating': 6.4},
 {'id': '0093822', 'rating': 7.3},
 {'id': '0088153', 'rating': 6.2},
 {'id': '5752360', 'rating': 5.8},
 {'id': '0859635', 'rating': 6.0},
 {'id': '3696180', 'rating': 6.0},
 {'id': '6821012', 'rating': 5.2},
 {'id': '0119250', 'rating': 7.7},
 {'id': '3289724', 'rating': 6.2},
 {'id': '3281548', 'rating': 7.8},
 {'id': '5771710', 'rating': 5.0},
 {'id': '0110684', 'rating': 7.3},
 {'id': '5523010', 'rating': 5.6},
 {'id': '6010628', 'rating': 6.1},
 {'id': '4073790', 'rating': 5.7},
 {'id': '6921996', 'rating': 6.2},
 {'id': '7339792', 'rating': 5.8},
 {'id': '0835802', 'rating': 5.5},
 {'id': '4560436', 'rating': 6.1},
 {'id': '3563262', 'rating': 5.4},
 {'id': '4177856', 'rating': 5.0},
 {'id': '4799066', 'rating': 6.6},
 {'id': '5670152', 'rating': 5.9},
 {'id': '2548396', 'rating': 5.5},
 {'id': '5734576', 'rating': 5.2},
 {'id': '3457508', 'rating': 5.3},
 {'id': '2296777', 'rating': 5.2},
 {'id': '4103724', 'rating': 6.6},
 {'id': '6495770', 'rating': 5.1},
 {'id': '13444408', 'rating': 7.6},
 {'id': '5228262', 'rating': 4.9},
 {'id': '1464763', 'rating': 5.4},
 {'id': '1270797', 'rating': 6.6},
 {'id': '5360952', 'rating': 5.1},
 {'id': '6421110', 'rating': 5.0},
 {'id': '6494418', 'rating': 4.3},
 {'id': '6119856', 'rating': 6.4},
 {'id': '2567026', 'rating': 6.2},
 {'id': '4106376', 'rating': 5.5},
 {'id': '4423984', 'rating': 4.1},
 {'id': '6652708', 'rating': 4.4},
 {'id': '0955308', 'rating': 6.6},
 {'id': '3317234', 'rating': 5.4},
 {'id': '6063050', 'rating': 5.8},
 {'id': '2160105', 'rating': 5.8},
 {'id': '4477536', 'rating': 4.5},
 {'id': '5691024', 'rating': 3.9},
 {'id': '1137450', 'rating': 6.3},
 {'id': '8550800', 'rating': 7.7},

In [25]:
df_rt = pd.DataFrame(movies)
type(df_rt['id'][0])

str

In [26]:
df_rt['id'] = df_rt['id'].astype(int)
df_rt

            id  rating
0      6155172     7.7
1       454776     7.4
2      8075192     7.9
3      6908854     8.2
4      4515928     6.6
...        ...     ...
2675  10308878     3.4
2676  13648232     4.9
2677  14060094     4.8
2678  14309446     5.1
2679  14850172     3.5

[2680 rows x 2 columns]

In [28]:
# df_rt.to_csv('../data/rating_imdb.csv', index=False)

In [2]:
names = pd.read_csv('../data/id.csv')
names

              id                 name
0      tt6155172                 Roma
1      tt0454776        Amazing Grace
2      tt8075192          Shoplifters
3      tt6908854  Shoah: Four Sisters
4      tt4515928              Gavagai
...          ...                  ...
2675  tt10308878       Big Gold Brick
2676  tt13648232    Mother Schmuckers
2677  tt14060094           Blacklight
2678  tt14309446              Me Time
2679  tt14850172        Asking for It

[2680 rows x 2 columns]

In [3]:
ratings = pd.read_csv('../data/rating_imdb.csv')
ratings

            id  rating
0      6155172     7.7
1       454776     7.4
2      8075192     7.9
3      6908854     8.2
4      4515928     6.6
...        ...     ...
2675  10308878     3.4
2676  13648232     4.9
2677  14060094     4.8
2678  14309446     5.1
2679  14850172     3.5

[2680 rows x 2 columns]

In [6]:
ratings['id'] = 'tt' + ratings['id'].astype(str)
ratings

              id  rating
0      tt6155172     7.7
1       tt454776     7.4
2      tt8075192     7.9
3      tt6908854     8.2
4      tt4515928     6.6
...          ...     ...
2675  tt10308878     3.4
2676  tt13648232     4.9
2677  tt14060094     4.8
2678  tt14309446     5.1
2679  tt14850172     3.5

[2680 rows x 2 columns]

In [7]:
df_merged = pd.merge(ratings, names, on='id', how='inner')
df_merged

              id  rating                                            name
0      tt6155172     7.7                                            Roma
1      tt8075192     7.9                                     Shoplifters
2      tt6908854     8.2                             Shoah: Four Sisters
3      tt4515928     6.6                                         Gavagai
4      tt6887540     6.7  A Bread Factory Part Two: Walk With Me a While
...          ...     ...                                             ...
2530  tt10308878     3.4                                  Big Gold Brick
2531  tt13648232     4.9                               Mother Schmuckers
2532  tt14060094     4.8                                      Blacklight
2533  tt14309446     5.1                                         Me Time
2534  tt14850172     3.5                                   Asking for It

[2535 rows x 3 columns]

In [8]:
df_merged.to_csv('../data/rating_imdb_name.csv', index=False)